<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="d-flex align-items-center mb-4">
    <div class="btn-group mr-3">
      <button type="button" class="btn btn-outline-purple rounded-circle" routerLink="/courses">
        <em class="fas fa-arrow-left"></em>
      </button>
      <button type="submit" class="btn btn-outline-success rounded-circle mx-sm-2" [disabled]="!courseForm.valid">
        <em class="fas fa-check-double"></em>
      </button>
      <button type="button" class="btn btn-outline-danger rounded-circle" (click)="onDelete()">
        <em class="fas fa-trash"></em>
      </button>
    </div>

    <h1 class="mb-0">Edit Course</h1>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Name</label>
      <input type="email" class="form-control" formControlName="name" placeholder="Course name...">
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea cols="30" rows="6" class="form-control" formControlName="description"></textarea>
  </div>
</form>
